{% extends 'base.html.twig' %}

{% block title %}Hello WeatherController!{% endblock %}

{% block body %}
    <style>
        body {
            background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=46586");
        }
    </style>


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/AI2-lab/labB/pogodynka/src/Controller/WeatherController.php'|file_link(0) }}">src/Controller/WeatherController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/AI2-lab/labB/pogodynka/templates/weather/index.html.twig'|file_link(0) }}">templates/weather/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
